body {
  background: rgb(240,240,240);
  color: rgb(20,20,20);
  font-family: Helvetica, sans-serif;
  margin: 0;
}

h1 {
  font-family: sans-serif;
  font-size: 50px;
  color: #489d2d;
}

h2 {
  font-size: 18px;
}

a {
  text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #489d2d;
}

li {
    float: left;
    font-weight: 900;  
}

#donate {
  float: right;
  background-color: white;
  color: #489d2d;
  font-weight: 900;  
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#donate a {
  color: black;
}

/* Change the link color on hover */
li a:hover {
    background-color: #faec50;
    color: black;
}

/* General Banner properties */

.banner {
  background-size: cover;
  padding: 150px;
  text-align: center;
}

.banner h1 {
  color: white;
  font-weight: 400;
}

.banner p {
  color: white;
  font-weight: 200;
  letter-spacing: 2px;
  opacity: 0.7;
  margin-bottom: 100px;
}

.banner a {
  background-color: #489d2d;
  color: white;
  border-radius: 5px;
  padding; 20px;
}

#banner-donate {
  background: white;
  border-radius: 5px;
  color: black;
  padding: 25px;
  font-weight: 900;
}

#banner-donate:hover {
  background-color: #faec50;
  color: black;
}

/* Page-specific banner properties (e.g. image path)*/

#banner-index {
  background-image: url("../images/splash-index.jpg");
}

#banner-gallery {
  background-image: url("../images/splash-gallery.jpg");
}


.landing-card {
  margin: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

footer {
  background: #489d2d;
  color: white;
  padding: 20px;
  text-align: center;
}


/* CSS below adapted from four column version on https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 32%;
  max-width: 32%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* CSS below adapted from https://www.w3schools.com/howto/howto_css_cards.asp tutorial */

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin: 20px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card_desc {
    padding: 2px 16px;
}