body {
  background: #f0f0f0;
  color: #141414;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

p {
  text-align: center;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  color: #489d2d;
}

h2 {
  font-size: 18px;
}

a {
  text-decoration: none;
}

/* Navbar related CSS. I used https://www.w3schools.com/css/css_navbar.asp to help create navbar.*/

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #489d2d;
}

nav ul > li {
  float: left;
  font-weight: 900;  
}

nav li > a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
nav li > a:hover {
  background-color: #f0f0f0;
  color: #141414;
}

.active{
  background-color: #f0f0f0;
  color: #141414
}

/* General Banner properties */

.banner {
  background-size: cover;
  padding: 150px;
  text-align: center;
}

.banner h1 {
  color: white;
  font-weight: 400;
}

.banner p {
  color: white;
  font-weight: 200;
  letter-spacing: 2px;
  opacity: 0.9;
  margin-bottom: 100px;
}

#banner-donate-link {
  background: #faec50;
  border-radius: 5px;
  padding: 25px;
  font-weight: 900;
}

/* Page-specific banner properties (e.g. image path)*/

#banner-index {
  background-image: url("../images/splash-index.jpg");
}

#banner-gallery {
  background-image: url("../images/splash-gallery.jpg");
}

#banner-about {
  background-image: url("../images/splash-about.jpg");
}

#banner-contact {
  background-image: url("../images/splash-contact.jpg");
}

#banner-donate {
  background-image: url("../images/splash-donate.jpg");
}

/* The content card (used as a CTA on the index). Used LeWagon's tutorial in part here: http://lewagon.github.io/landing/ */

.content-card {
  margin: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

footer {
  background: #489d2d;
  color: white;
  padding: 20px;
  text-align: center;
}

/* About Page CSS*/
#about-div {
  text-align: center;
}

#about-div iframe {
  padding: 20px;
}

/* Contact page CSS (used https://www.w3schools.com/howto/howto_css_contact_form.asp as a basis) */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
}

/* Style the send button with a specific background color etc */
input[type=submit] {
  background-color: #489d2d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 900;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #faec50;
  font-weight: 900;
  color: black;
}

.contact-content-wrapper{
  width: auto;
  height: 100%;
}

/* Add a background color and some padding around the form */
#form-div {
  border-radius: 5px;
  padding: 50px;
}

textarea {
  resize: none;
}

#useful-links li {
  list-style-type: none;
}

#useful-links img {
  width: 15%;
  height: 15%;
}


/* CSS below adapted from four column version on https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 32%;
  max-width: 32%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* CSS below adapted from https://www.w3schools.com/howto/howto_css_cards.asp tutorial */

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin: 20px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card_desc {
  padding: 2px 16px;
}

/* Donation page*/
/* I used the CSS table styling tutorial on W3 Schools as a starting point and made my own changes
https://www.w3schools.com/css/tryit.asp?filename=trycss_table_padding*/

#donation-table {
  margin: 20px;
}

table, td, th {    
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
  text-align: center;
}

th {
  background-color: #489d2d;
  color: white;
}

/* The striped table effect */
tr:nth-child(even) {
  background-color: white;
}



